<template>
  <section class="login section is-paddingless-mobile">
    <div class="columns is-centered">
      <div class="column is-8">
        <FormCard type="login">
          <FormLogin />
        </FormCard>
      </div>
    </div>
  </section>
</template>

<script lang="ts">
import Vue from "vue";
import FormCard from "@/components/FormCard.vue";
import FormLogin from "@/components/FormLogin.vue";

export default Vue.extend({
  name: "login" as string,
  data() {
    return {
      hello: "hello"
    };
  },
  components: {
    FormCard,
    FormLogin
  }
});
</script>

<style lang="sass">
.login
 background: transparent
</style>
