<template>
  <section class="resetpassword section is-paddingless-mobile">
    <div class="columns is-centered">
      <div class="column is-8">
        <FormCard type="resetpassword">
          <FormResetPassword />
        </FormCard>
      </div>
    </div>
  </section>
</template>

<script lang="ts">
import FormCard from "@/components/FormCard.vue";
import FormResetPassword from "@/components/FormResetPassword.vue";

export default {
  name: "ResetPassword",
  data: function() {
    return {
      hello: "hello"
    };
  },
  components: {
    FormCard,
    FormResetPassword
  }
};
</script>

<style lang="sass">
.resetpassword
 background: transparent
</style>
