<template>
  <section class="reset-confirm section is-paddingless-mobile">
    <div class="columns is-centered">
      <div class="column is-8">
        <FormCard type="resetconfirm">
          <FormResetConfirm />
        </FormCard>
      </div>
    </div>
  </section>
</template>

<script lang="ts">
import FormCard from "@/components/FormCard.vue";
import FormResetConfirm from "@/components/FormResetConfirm.vue";

export default {
  name: "ResetConfirm" as string,
  Data: function() {
    return {
      hello: "hello"
    };
  },
  components: {
    FormCard,
    FormResetConfirm
  }
};
</script>

<style lang="sass">
.reset-confirm
 background: transparent
</style>
