<template>
  <section class="signup section">
    <div class="columns is-centered">
      <div class="column is-8">
        <FormCard type="signup">
          <FormSignup />
        </FormCard>
      </div>
    </div>
  </section>
</template>

<script lang="ts">
import FormCard from "@/components/FormCard.vue";
import FormSignup from "@/components/FormSignup.vue";

export default {
  name: "login",
  data: function() {
    return {
      hello: "hello"
    };
  },
  components: {
    FormCard,
    FormSignup
  }
};
</script>

<style lang="sass">
.signup
 background: transparent
</style>
