<template>
  <div class="auth-background" :style="background">
    <div class="section">
      <div class="container">
        <slot></slot>
      </div>
    </div>
    <div class="footer">
      <div class="content has-text-centered">
        <div class="footer-box">
          <a class="footer-item is-size-6-5">{{ readme }}</a>
          <a class="footer-item is-size-6-5">{{ gov }}</a>
          <a class="footer-item is-size-6-5">{{ policy }}</a>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
const backgroundImg = require("../assets/img/auth-background.png");

export default Vue.extend({
  name: "AuthBackground" as string,
  data() {
    return {
      readme: "©2019 Haetek 使用黑顿前必读",
      gov: "粤ICP备19120979号",
      policy: "隐私政策",
      background: {
        backgroundImage: `url(${backgroundImg})`
      }
    };
  }
});
</script>

<style lang="sass">
.footer-item
  font-family: PingFangSC-Regular,PingFang SC;
  font-weight: 400;
  color: rgba(192,196,204,1);
.footer-box
  display: flex
  flex-direction: row
  flex-wrap: wrap
  justify-content: space-around
  max-width: 600px
  margin: 0 auto
.auth-background
  background-color: #0c66ff
  background-size: contain
  background-position: bottom
  background-repeat: no-repeat
  width: 100%
  height: 100%
  overflow: hidden
</style>
