<template>
  <div class="form-signup">
    <p class="form-head is-size-4 has-text-blue">HAETEK</p>
    <ValidationObserver v-slot="{ invalid, handleSubmit }" ref="signup">
      <form @submit.prevent="handleSubmit(onSubmit)">
        <HaetInput name="username" type="text" />
        <HaetInput name="password" type="password" />
        <HaetInput name="confirm" type="password" />
        <HaetInput name="mobile" type="text" />
        <HaetInput name="code" type="text" />
        <HaetInput name="email" type="email" />
        <button
          type="submit"
          class="button ha-button is-fullwidth field"
          :disabled="invalid"
        >
          注册
        </button>
        <ValidationProvider
          name="协议"
          :rules="{ required: { allowFalse: false } }"
          v-slot="{ errors }"
        >
          <p class="privacy">
            <input id="rightCheck" type="checkbox" v-model="checkedAutoLogin" />
            <label for="rightCheck" class="is-size-7-5">
              我已阅读并接受<a>版权声明</a>和<a>隐私保护</a>条款
              <p
                class="privacy-noticy is-size-7-5 has-text-danger has-text-left"
              >
                {{ errors[0] }}
              </p>
            </label>
          </p>
        </ValidationProvider>
      </form>
    </ValidationObserver>
  </div>
</template>

<script lang="js">
import Vue from "vue";
import HaetInput from "@/components/HaetInput.vue";

export default Vue.extend({
  name: "FormSignup",
  data: () => {
    return {
      checkedAutoLogin: false
    };
  },
  methods: {
    onSubmit() {
      this.$refs.signup.validate().then(success => {
        if (!success) {
          return;
        }
        alert("form submit");
        this.$nextTick(() => {
          this.$refs.signup.reset();
        });
        this.$router.push('/')
      });
    }
  },
  components: {
    HaetInput
  }
});
</script>

<style lang="sass">
.form-signup
  padding: 1.25rem 3rem
  height: 560px
  display: flex
  justify-content: space-between
  flex-direction: column
  .field
    margin-bottom: 4px !important
  .form-head
    line-height: 33px !important
  .privacy
    display: flex
    flex-direction: row
    align-items: flex-start
    justify-content: center
    position: relative
  .privacy-noticy
    position: absolute
  #rightCheck
    margin-right: 5px
</style>
