<template>
  <div class="form-resetpassword">
    <div>
      <p class="form-head is-size-4 has-text-blue">HAETEK</p>
      <ValidationObserver
        v-slot="{ invalid, handleSubmit }"
        ref="resetpassword"
      >
        <form @submit.prevent="handleSubmit(onSubmit)">
          <HaetInput name="mobileZip" type="text" />
          <HaetInput name="code" type="text" />
          <button
            type="submit"
            class="button ha-button is-fullwidth field"
            :disabled="invalid"
          >
            下一步
          </button>
        </form>
      </ValidationObserver>
    </div>
    <div class="is-size-7-5 has-text-gray-light">
      {{ footerTips }}
    </div>
  </div>
</template>

<script lang="js">
import Vue from "vue";
import HaetInput from "@/components/HaetInput.vue";

export default Vue.extend({
  name: "FormResetPassword",
  data: () => {
    return {
      footerTips: "温馨提示：与黑顿科技旗下 : Seeker引擎；HDPP等产品通用。"
    };
  },
  methods: {
    onSubmit() {
      this.$refs.resetpassword.validate().then(success => {
        if (!success) {
          return;
        }
        alert("form submit");
        this.$nextTick(() => {
          this.$refs.resetpassword.reset();
        });
        this.$router.push("resetconfirm");
      });
    }
  },
  components: {
    HaetInput
  }
});
</script>

<style lang="sass">
.form-resetpassword
  padding: 1.25rem 3rem
  height: 560px
  display: flex
  justify-content: space-between
  flex-direction: column
</style>
