<template>
  <div class="form-card">
    <div class="card-box">
      <div class="hi-card card-above">
        <div
          v-bind:class="'action-tip ' + tipContent[type].class"
          v-on:click="handleClick(type)"
        >
          <div class="is-size-6-5">{{ tipContent[type].tipName }}</div>
          <figure class="image is-16x18">
            <img src="../assets/img/action-tip.png" alt="avatar" />
          </figure>
        </div>
        <figure class="image">
          <img v-bind:src="tipContent[type].src" alt="background" />
        </figure>
      </div>
      <div class="hi-card">
        <slot></slot>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
const himan = require("../assets/img/himan.png");
const hiwemon = require("../assets/img/hiwemon.png");

export default Vue.extend({
  name: "FormCard" as string,
  data: () => {
    return {
      tipContent: {
        login: {
          index: "login",
          tipName: "注册账号",
          src: hiwemon,
          class: "signup"
        },
        signup: {
          index: "signup",
          tipName: "已有账号登录",
          src: himan,
          class: "login"
        },
        resetpassword: {
          index: "resetpassword",
          tipName: "已有账号登录",
          src: himan,
          class: "login"
        },
        resetconfirm: {
          index: "resetconfirm",
          tipName: "",
          src: hiwemon,
          class: "hidden"
        }
      }
    };
  },
  props: ["type"],
  methods: {
    handleClick(type: string): void {
      this.$router.push(
        `${type !== "login" ? "/" : this.tipContent[type].class}`
      );
    }
  },
  components: {}
});
</script>
