<template>
  <div class="form-login">
    <div>
      <p class="form-head is-size-4 has-text-blue">HAETEK</p>
      <div class="tabs is-fullwidth is-centered is-size-6-5">
        <ul>
          <li class="is-active" @click="handleTab('tab1')" ref="tab1">
            <a>
              <span>黑顿账号</span>
            </a>
          </li>
          <span class="tab-divider"></span>
          <li @click="handleTab('tab2')" ref="tab2">
            <a>
              <span>手机登录</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="tabs-content">
        <div class="tab field is-active" ref="tabContent1">
          <ValidationObserver v-slot="{ invalid, handleSubmit }" ref="account">
            <form @submit.prevent="handleSubmit(onSubmit)">
              <HaetInput name="account" type="text" :onChange="handleInput" />
              <HaetInput
                name="password"
                type="password"
                :onChange="handleInput"
              />
              <button
                type="submit"
                class="button ha-button is-fullwidth field"
                :disabled="invalid"
              >
                登录
              </button>
            </form>
          </ValidationObserver>
        </div>
        <div class="tab field" ref="tabContent2">
          <ValidationObserver v-slot="{ invalid, handleSubmit }" ref="mobile">
            <form @submit.prevent="handleSubmit(onSubmitMobile)">
              <HaetInput name="mobileZip" type="text" :onChange="handleInput" />
              <HaetInput name="code" type="text" :onChange="handleInput" />
              <button
                type="submit"
                class="button ha-button is-fullwidth field"
                :disabled="invalid"
              >
                登录
              </button>
            </form>
          </ValidationObserver>
        </div>
        <div class="forget-passw is-size-7-5 field">
          <p style="display:flex;align-items:center;">
            <input id="autologin" type="checkbox" v-model="checkedAutoLogin" />
            <label for="autologin">下次自动登录</label>
          </p>
          <p><router-link to="/resetpassword">忘记密码</router-link></p>
        </div>
        <div class="other-auth">
          <p class="is-size-7-5 has-text-gray-lighter field">
            第三方登录
          </p>
          <div class="auth-icon">
            <div class="icon-container weixin">
              <figure class="image is-36x36">
                <img src="../assets/img/weixin.svg" alt="auth" />
              </figure>
            </div>
            <div class="icon-container weibo">
              <figure class="image is-36x36">
                <img src="../assets/img/weibo.svg" alt="auth" />
              </figure>
            </div>
            <div class="icon-container qq">
              <figure class="image is-36x36">
                <img src="../assets/img/qq.svg" alt="auth" />
              </figure>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="is-size-7-5 has-text-gray-light">
      {{ footerTips }}
    </div>
  </div>
</template>

<script lang="js">
import Vue from "vue";
import HaetInput from "@/components/HaetInput.vue";

export default Vue.extend({
  name: "FormLogin",
  data: () => {
    return {
      footerTips: "温馨提示：与黑顿科技旗下 : Seeker引擎；HDPP等产品通用。",
      checkedAutoLogin: [],
      user: "",
      password: "",
      mobile: "",
      code: ""
    };
  },
  methods: {
    handleTab(e) {
      const tab1 = this.$refs.tab1;
      const tab2 = this.$refs.tab2;
      const tabContent1 = this.$refs.tabContent1;
      const tabContent2 = this.$refs.tabContent2;
      if (e === "tab2") {
        tab2.classList.add("is-active");
        tabContent2.classList.add("is-active");
        tab1.classList.remove("is-active");
        tabContent1.classList.remove("is-active");
      } else {
        tab2.classList.remove("is-active");
        tabContent2.classList.remove("is-active");
        tab1.classList.add("is-active");
        tabContent1.classList.add("is-active");
      }
    },
    onSubmit() {
      this.$refs.account.validate().then(success => {
        if (!success) {
          return;
        }
        const user = {
          user: this.user,
          password: this.password
        };
        this.$store.dispatch("login", { user });
        this.user = this.password = "";
        this.$nextTick(() => {
          this.$refs.account.reset();
        });
      });
    },
    onSubmitMobile() {
      this.$refs.mobile.validate().then(success => {
        if (!success) {
          return;
        }
        const user = {
          mobile: this.mobile,
          code: this.code
        };
        this.$store.dispatch("login", { user });
        this.mobile = this.code = "";
        this.$nextTick(() => {
          this.$refs.mobile.reset();
        });
      });
    },
    handleInput({ name, value }) {
      switch (name) {
        case "account":
          this.user = value;
          break;
        case "password":
          this.password = value;
          break;
        case "mobileZip":
          this.mobile = value;
          break;
        case "code":
          this.code = value;
          break;
        default:
          console.log("no value");
      }
    }
  },
  components: {
    HaetInput
  }
});
</script>
