<template>
  <div class="haet-input field has-text-left">
    <ValidationProvider
      :name="label[name]"
      :rules="rule[name]"
      v-slot="{ errors }"
    >
      <div class="input-notify">
        <div ref="topLabel" class="top-label" @click="handleEnterClick">
          {{ label[name] }}
        </div>
        <div class="notify is-size-7-5" ref="notify">
          <span class="icon is-small" v-if="errors[0]">
            <i class="fa fa-exclamation-triangle"></i>
          </span>
          {{ errors[0] }}
        </div>
      </div>
      <div class="control has-icons-right">
        <input
          :ref="name"
          v-model="inputContent"
          @focus="toggleFocus('focus')"
          @blur="toggleFocus('blur')"
          class="input h-input"
          :type="type"
          @input="handleChange"
        />
        <span v-if="name === 'code'" class="right-avator">
          <span class="seperate"></span>
          <button
            class="button is-white is-small is-paddingless has-text-blue"
            @click="sentCode"
            :disabled="true"
          >
            获取验证码
          </button>
        </span>
        <span
          class="remove-entity icon is-small is-right"
          @click="removeEntity"
          v-show="inputContent"
          v-else
        >
          <i class="fa fa-times"></i>
        </span>
      </div>
    </ValidationProvider>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
const options = {
  label: {
    account: "账号",
    password: "密码",
    username: "用户名",
    confirm: "确认密码",
    mobile: "手机号码",
    code: "验证码",
    email: "邮箱",
    mobileZip: "手机号码"
  },
  rule: {
    account: { required: true, alpha_dash: true, min: { length: 6 } },
    password: { required: true, alpha_dash: true, min: { length: 6 } },
    username: { required: true, alpha_dash: true, min: { length: 6 } },
    confirm: { required: true, alpha_dash: true, min: { length: 6 } },
    mobile: { required: true, digits: { length: 11 } },
    code: { required: true, digits: { length: 4 } },
    email: { required: false, email: true },
    mobileZip: { required: true, digits: { length: 11 } }
  }
};

export default Vue.extend({
  name: "HaeInput" as string,
  data: () => {
    return {
      label: options.label,
      rule: options.rule,
      inputContent: ""
    };
  },
  props: {
    name: { type: String },
    onChange: { type: Function },
    type: { type: String }
  },
  methods: {
    handleEnterClick() {
      const ele = this.$refs[this.$props.name] as HTMLInputElement;
      ele.focus();
    },
    toggleFocus(e: string) {
      const elem = this.$refs["topLabel"] as HTMLDivElement;
      const notify = this.$refs["notify"] as HTMLDivElement;
      if (e === "focus" || this.inputContent.length !== 0) {
        elem.classList.add("is-active");
        notify.classList.add("is-active");
      } else {
        elem.classList.remove("is-active");
        notify.classList.remove("is-active");
      }
    },
    removeEntity() {
      this.inputContent = "";
    },
    handleChange(e: any) {
      if (this.onChange) {
        this.onChange({
          name: this.name,
          value: e.target.value
        });
      }
    },
    sentCode() {
      // console.log("code");
    }
  }
});
</script>
