<template>
  <div id="app">
    <AuthBackground>
      <router-view />
    </AuthBackground>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import AuthBackground from "@/components/AuthBackground.vue";
import { ValidationProvider, ValidationObserver } from "vee-validate";

Vue.component("ValidationProvider", ValidationProvider);
Vue.component("ValidationObserver", ValidationObserver);

export default {
  name: "app",
  components: {
    AuthBackground
  }
};
</script>

<style lang="scss">
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  width: 100%;
  height: 100%;
}
</style>
