.form-login
  padding: 1.25rem 3rem
  height: 560px
  display: flex
  justify-content: space-between
  flex-direction: column
  .form-head
    line-height: 68px !important
  .auth-icon
    display: flex
    justify-content: center
    .icon-container
      margin: 0 0.6rem
      width: 36px
      height: 36px
      display: flex
      flex-direction: column
      align-items: center
      justify-content: center
  .forget-passw
   display: flex
   justify-content: space-between
  .weixin
    background-color: #dcdfe6
    border-radius: 50px
    &:hover
      background-color: #24db59
      cursor: pointer
    .image
      width: 18px
      height: 14px
  .weibo
    background-color: #dcdfe6
    border-radius: 50px
    &:hover
      background-color: #e71f19
      cursor: pointer
    .image
      width: 18px
      height: 14px
  .qq
    background-color: #dcdfe6
    border-radius: 50px
    &:hover
      background-color: #1ac1fa
      cursor: pointer
    .image
      width: 18px
      height: 19px
  .tab-divider
    border-left: 1px solid #dcdfe6
    height: 15px
  .tabs-content
    .tab
      display: none
      &.is-active
        display: block
  #autologin
    margin-right: 5px
