@import '~bulma/sass/utilities/mixins'

.form-card
 background-color: white
 min-height: 560px
.card-box
  display: flex
  flex-direction: row
  flex-wrap: wrap
  overflow: hidden
.hi-card
  width: 50%
  min-width: 300px
  height: 560px
  &.card-above
   position: relative
   display: flex
   align-item: center
   flex-direction: column
   justify-content: center
   background-attachment: fixed
   background-position: top, left
   background: repeating-linear-gradient(-87deg, transparent, transparent 31px, #ebf2ff 31px, #ebf2ff 500px)
   .image
     width: 95%
   @include mobile
     display: none
.action-tip
  position: absolute
  top: 13%
  left: -15.5%
  color: white
  border-radius: 0 50px 50px 0
  padding: 5px 10px
  display: flex
  align-items: center
  align-content: center
  transition: left 0.6s
  cursor: pointer
  .image.is-16x18
    margin: 0 5px
    width: 16px
    height: 18px
  &.signup
    background-color: #ffb500
    left: -15.5%
    &:hover
      left: 0
  &.login
    background-color: #0c66ff
    left: -22%
    &:hover
      left: 0
  &.hidden
    visibility: hidden
