.haet-input
  .input-notify
    display: flex
    align-items: center
    flex-direction: row
    justify-content: flex-start
    .notify
      color: #fa5555
      visibility: hidden
      opacity: 0
      &.is-active
        transition: all 0.4s linear
        visibility: visible
        opacity: 1
  .input
    &.h-input
      border: none
      border-bottom: 1px solid #dcdfe6
      border-radius: 0
      box-shadow: none
      &:focus
        box-shadow: none
  .place-holder
    visibility: hidden
    opacity: 0
  .top-label
    width: auto
    display: flex
    align-items: center
    flex-direction: row
    min-height: 25px
    position: relative
    color: #c0c4cc
    font-size: 0.875rem
    top: 30px
    left: 0
    transition: all 0.2s linear
    z-index: 2
    &.is-active
      padding-right: 8px
      opacity: 1
      color: #0c66ff
      top: 0
      font-size: 0.75rem
  .remove-entity
    cursor: pointer
    &.icon
      pointer-events: auto
  .right-avator
    position: absolute
    top: 0
    right: 0
    cursor: pointer
    display: flex
    flex-direction: row
    align-items: center
    .seperate
      display: inline
      margin-right: 12px
      border-left: 1px solid #dcdfe6
      height: 18px
    .button[disabled]
      color: #606266 !important
