@import "~bulma/sass/utilities/initial-variables"

$footer-background-color: transparent
$footer-padding: 2.188rem 1.5rem 1.25rem

/* 主要顡色
$main-color: #0c66ff
$assist-color-1: #1989fa
$assist-color-2: #171f46

/* 文本/图标顡色
.has-text-blue
  color: $main-color !important
.has-text-gray-darker
  color: #303133 !important
.has-text-gray-dark
  color: #606266 !important
.has-text-gray-lighter
  color: #909399 !important
.has-text-gray-light
  color: #c0c4cc !important

/* 背景顡色
.has-background-gray-darker
  background-color: #dcdfe6 !important
.has-background-gray-dark
  background-color: #e4e7ed !important
.has-background-lighter
  background-color: #ebeef5 !important
.has-background-light
  background-color: #f2f6fc !important

/* 线条顡色
.has-line-lightest
  border-color: #f4f6fa
.has-line-lighter
  border-color: #f0f2f5
.has-line-light
  border-color: #f5f7fa

/* 字体大小
.is-size-1
  line-height: 67px
.is-size-2
.is-size-2-5
  font-size: 2.25rem !important
  line-height: 50px
.is-size-3
.is-size-4
  line-height: 33px
.is-size-4-5
  font-size: 1.125rem !important
  line-height: 25px
.is-size-5
.is-size-6
  line-height: 22px
.is-size-6-5
  font-size: 0.875rem !important
  line-height: 20px
.is-size-7
  line-height: 17px
.is-size-7-5
  font-size: 0.625rem !important
  line-height: 14px
.is-size-8
  font-size: 0.5rem


@import "~bulma"
@import "form-card"
@import "haet-input"
@import "form-login"
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss"
@import "~@fortawesome/fontawesome-free/scss/brands.scss"
@import "~@fortawesome/fontawesome-free/scss/solid.scss"
@import "~@fortawesome/fontawesome-free/scss/regular.scss"
@import "~@fortawesome/fontawesome-free/scss/v4-shims.scss"


::-webkit-scrollbar
  width: 0px;
  background: transparent

html, body
  height: 100%
  scrollbar-width: none
  @include mobile
    height: auto



/* .columns
/*   height: 100%
/*   .column
/*     height: 100%

.footer
  width: 100%
  position: absolute
  bottom: 0
  @include mobile
    position: unset

.button
  &.ha-button
    border-radius: 50px
    border: unset
    background-color: $main-color
    color: white
    &[disabled]
      background-color: #dcdfe6
      color: #909399


+mobile
  .is-paddingless-mobile
    padding: 0 !important
